<?xml version="1.0" ?>
<robot name="ur5_2f85" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5/default_kinematics.yaml"/>
	
	<!-- WORLD -->
	<link name="world"/>

	<!-- TABLE -->
	<xacro:include filename="$(find coro_descriptions)/urdf/common/coro_3arms_table.urdf.xacro"/>
	<xacro:coro_3arms_table prefix=""/>
	<joint name="table_to_world" type="fixed">
		<parent link="world"/>
		<child link="table_base"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<!-- ROBOT -->
	<xacro:include filename="$(find ur_description)/urdf/inc/ur5_macro.xacro"/>
	<xacro:ur5_robot prefix="" kinematics_parameters_file="$(arg kinematics_config)"/>
	<joint name="robot_to_table" type="fixed">
		<parent link="middle_robot_mount"/>
		<child link="base_link"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	<!-- FT150 Sensor Mounting Plate-->
    <link name="ft_sensor_mounting_plate">
        <visual>
            <geometry>
                <mesh filename="package://coro_descriptions/meshes/FT_Sensor_Mounting_Plate.stl"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0 "/>
            <material name="black">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://coro_descriptions/meshes/FT_Sensor_Mounting_Plate.stl"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0 "/>
        </collision>
        <inertial>
          <origin xyz="0 0 0.00475" rpy="0 0 0"/>
          <mass value="0.2"/>
          <inertia
              ixx="1e-4" ixy="0.0" ixz="0.0"
              iyy="1e-4" iyz="0.0"
              izz="1e-4"/>
        </inertial>
    </link>
	<joint name="ur5_to_ft_mounting_plate" type="fixed">
		<parent link="tool0"/>
		<child link="ft_sensor_mounting_plate"/>
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</joint>

	
	<!-- FORCE-TORQUE SENSOR -->
    <link name="fts150">
        <visual>
            <geometry>
                <mesh filename="package://robotiq_ft_sensor/meshes/visual/robotiq_fts150.stl"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0 "/>
            <material name="black">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://robotiq_ft_sensor/meshes/visual/robotiq_fts150.stl"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0 "/>
        </collision>
        <inertial>
          <origin xyz="0 0 0.0185" rpy="0 0 0"/>
          <mass value="0.2"/>
          <inertia
              ixx="1e-4" ixy="0.0" ixz="0.0"
              iyy="1e-4" iyz="0.0"
              izz="1e-4"/>
        </inertial>
    </link>
	<joint name="ft_mounting_plate_to_fts150" type="fixed">
		<parent link="ft_sensor_mounting_plate"/>
		<child link="fts150"/>
		<origin xyz="0 0 0.0095" rpy="0 0 0"/>
	</joint>	

	<!-- Allegro Hand Mounting Bracket-->
    <link name="allegro_ur5_bracket">
        <visual>
            <geometry>
                <mesh filename="package://coro_descriptions/meshes/Allegro_UR5_Bracket.stl"/>
            </geometry>
            <origin rpy="3.14 0 0" xyz="0 0 0 "/>
            <material name="black">
                <color rgba="0.2 0.2 0.2 1"/>
            </material>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://coro_descriptions/meshes/Allegro_UR5_Bracket.stl"/>
            </geometry>
            <origin rpy="3.14 0 0" xyz="0 0 0 "/>
        </collision>
        <inertial>
          <origin xyz="0 0 0.0025" rpy="0 0 0"/>
          <mass value="0.05"/>
          <inertia
              ixx="1e-4" ixy="0.0" ixz="0.0"
              iyy="1e-4" iyz="0.0"
              izz="1e-4"/>
        </inertial>
    </link>
	<joint name="ft_sensor_to_bracket" type="fixed">
		<parent link="fts150"/>
		<child link="allegro_ur5_bracket"/>
		<origin xyz="0 0 0.0475" rpy="0 0 0"/>
	</joint>
	<!-- Allegro Hand-->
	<xacro:include filename="$(find allegro_hand_description)/allegro_hand_description_right.xacro"/>
	<xacro:allegro_hand_right/>
	<joint name="hand_to_bracket" type="fixed">
		<parent link="allegro_ur5_bracket"/>
		<child link="palm_link"/>
		<origin xyz="0.0091 0 0.105" rpy="0 0 0"/>
	</joint>	
	<!-- GRIPPER COUPLING -->
	<!--
	<xacro:include filename="$(find coro_descriptions)/urdf/common/2f_coupling.urdf.xacro"/>
	<xacro:coupling_robotiq_2f prefix="" parent="ft300_sensor">
		<origin xyz="0 0 -0.0045" rpy="0 0 0"/>
	</xacro:coupling_robotiq_2f>
	-->
   	
	<!-- GRIPPER -->
	<!--
	<xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
	<xacro:robotiq_85_gripper prefix="" parent="coupling_gripper_fix">
		<origin xyz="0 0 0" rpy="0 1.5708 0"/>
	</xacro:robotiq_85_gripper>
	-->	
	<!--
	<link name="tcp"/>
	<joint name="tcp_to_gripper" type="fixed">
		<parent link="tool0"/>
		<child link="tcp"/>
		<origin xyz="0 0 0.19" rpy="0 0 0"/>
	</joint>
	-->
	<!-- GAZEBO -->
	<gazebo>
    		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      			<robotNamespace>/</robotNamespace>
      			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    		</plugin>
  	</gazebo>
</robot>
